<!doctype html>
<html>
<head>
    <title>Details</title>
</head>
<body>
    <h2>Pages</h2>
    <table>
        <tr style="vertical-align:top;">
            <td width="50%">
                <h3>Signature Orbit</h3>
                <p>
                    <p>Dictionary of all the CODX and CODY of the Signatures</p>
                    <h4>URL Format:</h4>
                    <h5>With no signatures selected</h5>
                    <p>/sign_orbit?start=start_data&stop=stop_date&data=cod_rebuilt</p>
                    <h5>With 1 or + signatures selected</h5>
                    <p>/sign_orbit?start=start_data&stop=stop_date&data=Signature1,Signature2...</p>
                    <h4>Example:</h4>
                    <h5>With no signatures selected</h5>
                    <p>http://10.20.21.52:8081/sign_orbit?start=2022-11-01T15:46:57.000Z&stop=2022-11-01T16:46:57.000Z&data=cod_rebuilt</p>
                    <h5>With 1 or + signatures selected</h5>
                    <p>http://10.20.21.52:8081/sign_orbit?start=2022-11-01T15:46:57.000Z&stop=2022-11-01T16:46:57.000Z&data=SI-17C1:MA-CH_Y_C,SI-13C4:MA-B1_Y_D</p>
                    <h4>Returns:</h4>
                    <p>Dictionary of the codx and cody of the selected signatures (cod_rebuilt always included)</p>
                    <h5>Dictionary item structure:</h5>
                    <p>Signature name: [ Array with the CODX, Array with the CODY ]</p>
                </p>
            </td>
            <td width="50%">
                <h3>Signature Correlation</h3>
                <p>
                    <p>Dictionary of all the calculated correlations</p>
                    <h4>URL Format:</h4>
                    <p>/sign_comp?start=start_data&stop=stop_date</p>
                    <h4>Example:</h4>
                    <p>http://10.20.21.52:8081/sign_comp?start=2022-10-17T10%3A35%3A02.566Z&stop=2022-10-16T11%3A35%3A02.586Z</p>
                    <h4>Returns:</h4>
                    <p>Dictionary of all the calculated correlations</p>
                    <h5>Dictionary item structure:</h5>
                    <p>Magnet Name: (Magnet type, Kick Axis, COD X, COD Y)</p>
                </p>
            </td>
        </tr>
    </table>



</body>
